.nextSlide {
    transform: translateX(100%);
    opacity: 0.5;
}

.prevSlide {
    transform: translateX(-100%);
    opacity: 0.5;
}

.currentSlide {
    transform: translateX(0);
    opacity: 1;
}

.left, .right {
    visibility: hidden;
}

.arrowRect:hover .right,
.arrowRect:hover .left {
    visibility: visible;
}